<a href="https://colab.research.google.com/github/Mehhhhull/pandas/blob/main/GroupBy%26Aggregiation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

GroupBy

In [3]:
data={
    'Category':['A','B','A','B','A','B','A','B'],
    'Store':['S1','S1','S2','S2','S1','S2','S2','S1'],
    'Sales':[100,200,150,250,120,180,200,300],
    'Quantity':[10,15,12,18,8,20,15,25],
    'Date':pd.date_range('2023-01-01',periods=8)
}
df=pd.DataFrame(data)

In [4]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

**Group by category and calculate the sum of sales**

In [8]:
c=df.groupby('Category')['Sales'].sum()
c

Category
A    570
B    930
Name: Sales, dtype: int64

**Group by store and caluclate the sum of sales**

In [9]:
c=df.groupby('Store')['Sales'].sum()
c

Store
S1    720
S2    780
Name: Sales, dtype: int64

Group by multiple columns, group by category and stores

In [10]:
c=df.groupby(['Category','Store'])['Sales'].sum()
c

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

**Aggregation**

In [12]:
df['Sales'].mean()
"""mean median minumum max count std """

'mean median mode minumum max count std '

In [17]:
df['Sales'].agg(['mean','min','max','median','std'])

mean      187.500000
min       100.000000
max       300.000000
median    190.000000
std        66.062741
Name: Sales, dtype: float64