<a href="https://colab.research.google.com/github/Mehhhhull/pandas/blob/main/pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PANDAS SERIES**
A series is a one dimentional labeled array capable capable of holding any data type. The axis  labels are collectively called the index.

**Creating Series**
There are multiple ways to create a pandas series:

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
labels=['a','b','c']
my_list=[10,20,30]
my_arr=np.array([10,20,30])
d={'1':10,'2':20,'3':30}

In [ ]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_arr)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(d)

1    10
2    20
3    30
dtype: int64